http_interactions:
- request:
    method: get
    uri: https://ttlivewebapi.fxopen.com/api/v2/public/quotehistory/EURUSD/ticks?timestamp=1893456000000&count=-10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "Ticks": [{
          "Timestamp": 1621879659142,
          "IndicativeTick": false,
          "BestBid": {
           "Volume": 200000,
           "Price": 1.22152,
           "Type": "Bid"
          },
          "BestAsk": {
           "Volume": 200000,
           "Price": 1.22155,
           "Type": "Ask"
          },
          "TickType": "Normal"
         }, {
          "Timestamp": 1621879660196,
          "IndicativeTick": false,
          "BestBid": {
           "Volume": 200000,
           "Price": 1.22154,
           "Type": "Bid"
          },
          "BestAsk": {
           "Volume": 200000,
           "Price": 1.22157,
           "Type": "Ask"
          },
          "TickType": "Normal"
         }, {
          "Timestamp": 1621879674630,
          "IndicativeTick": false,
          "BestBid": {
     [...]
