http_interactions:
- request:
    method: get
    uri: https://ttlivewebapi.fxopen.com/api/v2/public/quotehistory/EURUSD/M1/bars/Bid?timestamp=1893456000000&count=-10
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
    body:
      encoding: UTF-8
      file: no
      string: |-
        {
         "Bars": [{
          "Volume": 31,
          "Close": 1.22162,
          "Low": 1.2215,
          "High": 1.22163,
          "Open": 1.22152,
          "Timestamp": 1621879140000
         }, {
          "Volume": 42,
          "Close": 1.22162,
          "Low": 1.22159,
          "High": 1.22169,
          "Open": 1.22163,
          "Timestamp": 1621879200000
         }, {
          "Volume": 13,
          "Close": 1.2216,
          "Low": 1.22159,
          "High": 1.22162,
          "Open": 1.22161,
          "Timestamp": 1621879260000
         }, {
          "Volume": 9,
          "Close": 1.22161,
          "Low": 1.22159,
          [...]
